/*

!.gitignore
!README.md

!deployment-apps/
!master-apps/

!apps/
apps/100_splunk4good_prod_splunkcloud/
apps/100_splunk4good_dev_splunkcloud/
apps/alert_logevent/
apps/alert_webhook/
apps/appsbrowser/
apps/framework/
apps/gettingstarted/
apps/introspection_generator_addon/
apps/launcher/
apps/learned/
apps/legacy/
apps/sample_app/
apps/search/
apps/splunk_archiver/
apps/SplunkForwarder/
apps/splunk_httpinput/
apps/splunk_instrumentation/
apps/SplunkLightForwarder/
apps/splunk_monitoring_console/
apps/user-prefs/
!apps/*/local/
apps/*/local/*
!apps/*/local/serverclass.conf

!system/
system/*
!system/local/
system/local/*
!system/local/serverclass.conf
