[submodule "apps/ntsa_fars"]
	path = apps/nhtsa_fars
	url = git@github.com:hobbes3/nhtsa_fars
[submodule "apps/s4g_welcome"]
	path = apps/s4g_welcome
	url = git@github.com:hobbes3/s4g_welcome.git
[submodule "apps/fec"]
	path = apps/fec
	url = git@github.com:hobbes3/fec.git
[submodule "apps/gen"]
	path = apps/gen
	url = git@github.com:hobbes3/gen.git
[submodule "apps/sf_trees"]
	path = apps/sf_trees
	url = git@github.com:hobbes3/sf_trees.git
[submodule "apps/ca_drought"]
	path = apps/ca_drought
	url = git@github.com:hobbes3/ca_drought.git
[submodule "master-apps/wunderground_TA"]
	path = master-apps/wunderground_TA
	url = git@github.com:hobbes3/wunderground_TA.git
[submodule "master-apps/fec_TA"]
	path = master-apps/fec_TA
	url = git@github.com:hobbes3/fec_TA.git
[submodule "master-apps/gen_TA"]
	path = master-apps/gen_TA
	url = git@github.com:hobbes3/gen_TA.git
[submodule "master-apps/sf_trees_TA"]
	path = master-apps/sf_trees_TA
	url = git@github.com:hobbes3/sf_trees_TA.git
[submodule "master-apps/ca_drought_TA"]
	path = master-apps/ca_drought_TA
	url = git@github.com:hobbes3/ca_drought_TA.git
[submodule "master-apps/sf_muni_TA"]
	path = master-apps/sf_muni_TA
	url = git@github.com:hobbes3/sf_muni_TA.git
[submodule "master-apps/intrinio_TA"]
	path = master-apps/intrinio_TA
	url = git@github.com:hobbes3/intrinio_TA.git
[submodule "master-apps/nhtsa_fars_TA"]
	path = master-apps/nhtsa_fars_TA
	url = git@github.com:hobbes3/nhtsa_fars_TA.git
[submodule "master-apps/irs_990_TA"]
	path = master-apps/irs_990_TA
	url = git@github.com:hobbes3/irs_990_TA.git
