[submodule "apps/ca_drought"]
	path = apps/ca_drought
	url = git@github.com:hobbes3/ca_drought
[submodule "apps/dot_fars"]
	path = apps/dot_fars
	url = git@github.com:hobbes3/dot_fars
[submodule "apps/s4g_welcome"]
	path = apps/s4g_welcome
	url = git@github.com:hobbes3/s4g_welcome.git
[submodule "apps/fec"]
	path = apps/fec
	url = git@github.com:hobbes3/fec.git
[submodule "master-apps/fec_props"]
	path = master-apps/fec_props
	url = git@github.com:hobbes3/fec_props.git
[submodule "apps/gen"]
	path = apps/gen
	url = git@github.com:hobbes3/gen.git
[submodule "master-apps/gen_props"]
	path = master-apps/gen_props
	url = git@github.com:hobbes3/gen_props.git
[submodule "apps/sf_trees"]
	path = apps/sf_trees
	url = git@github.com:hobbes3/sf_trees.git
[submodule "master-apps/sf_trees_props"]
	path = master-apps/sf_trees_props
	url = git@github.com:hobbes3/sf_trees_props.git
[submodule "master-apps/intrinio_props"]
	path = master-apps/intrinio_props
	url = git@github.com:hobbes3/intrinio_props.git
